$border-radius: 10px;
$font-size: 12px;
$font-size-sm: 10px;

* {
  transition-duration: 250ms;
}

html,
body {
  height: 100vh;
  margin: 0;

  color: #224;
  transition-duration: 0ms;
  background-color: #808080;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background: -webkit-linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background: -moz-linear-gradient(to top, #ffffff 0%, #ffffff 100%);
}

@mixin glass {
  border: 1px solid var(--ui-border-color);
  border-radius: 20px;
  background-color: var(--ui-color);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-sizing: border-box !important;

  backdrop-filter: blur(10px);
}

.non-highlight {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.hidden-el-up {
  opacity: 0;
  filter: blur(4px);
  transform: translateY(20px);
  transition: all 750ms;
}

.hidden-el-down {
  opacity: 0;
  filter: blur(4px);
  transform: translateY(-20px);
  transition: all 750ms;
}

.visible-el {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
