$border-radius: 10px;

* {
  transition-duration: 250ms;
}

body {
  height: 100vh;
  margin: 0;

  color: #224;
  transition-duration: 0ms;
  background-color: #808080;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background: -webkit-linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  background: -moz-linear-gradient(to top, #ffffff 0%, #ffffff 100%);
}

@mixin glass {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-sizing: border-box !important;

  backdrop-filter: blur(10px);
}
